/* This import base, components, utilities;*/
@import "tailwindcss"; 

@theme {
  --color-brand: #3b82f6;
  --font-body: "Inter", sans-serif;
}


body { /* Automatically applies this style to body tags */ 
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: radial-gradient(#4c9c9c, #1a1f3d);
    color: #4c9c9c;
    min-height: 100vh;
}

body { /* Automatically applies this style to body tags */ 
  margin: 0;
  font-family: var(--font-body); /* This uses your Inter font */
  @apply antialiased bg-gray-50; /* This uses Tailwind utilities */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
